body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

a {
	cursor: pointer;
	color: #3174c7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.clear {
	clear: both;
	height: 0;
}


div.info {
	margin-bottom: 2em;

	-webkit-column-count: 2;
	   -moz-column-count: 2;
	    -ms-column-count: 2;
	     -o-column-count: 2;
	column-count: 2;


	-webkit-column-rule: 1px solid #F3F3F3;
	   -moz-column-rule: 1px solid #F3F3F3;
	    -ms-column-rule: 1px solid #F3F3F3;
	     -o-column-rule: 1px solid #F3F3F3;
	column-rule: 1px solid #F3F3F3;
}

div.info > * {
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

div.info li {
	margin-top: 0.75em;
}

div.info p:first-child {
	margin-top: 0;
}

div.footer {
	position: relative;
	margin-top: 3em;
	border-top: 1px solid #999;
	background-color: #eee;
}

div.footer > div.liner {
	max-width: 960px;
	margin: 0 auto;
}

div.footer > div.gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;

	background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

div.toc {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	    -ms-column-count: 2;
	     -o-column-count: 2;
	column-count: 2;
}

div.toc-group {
	display: inline-block;
	width: 100%;
}

div.box {
	overflow: auto;
	height: 8em;
	padding: 1em;
	color: #444;
	background-color: #fcfcfc;
	border: 1px solid #e0e0e0;
	margin-bottom: 2em;
}

.container {
    padding:5px;
}

#tabela td {
    white-space: nowrap;
}

.detail {
    padding-left: 15px;
}
.detail td {
 white-space:normal !important;
}

.detail td textarea {
    width: 800px;
    height: 200px;
}

#tabela td.details-control {
    background: url('../images/details_open.png') no-repeat left center;
    cursor: pointer;
}
#tabela tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat left center;
}

.header {
    height:auto;
    padding:10px;
    background:#ebebeb;
    border:1px outset #ccc;
    margin-bottom: 15px;
}